<!-- index.html -->
<!DOCTYPE html>

<!-- header -->
{{ partial "head" . }}

<body>
    <div class="index-header">
        <div class="index-header-upper">
            <h1>Kanadeのほーむぺーじ</h1>
        </div>
        <img src="/images/icon.png" alt="Icon" class="rounded-image">
        <div class="index-header-lower">
            <h2>プログラミング、電子工作、旅行</h2>
        </div>

    </div>

    いいかんじのカテゴリリンク<br>
    <div class="change-log">
        いいかんじの更新履歴
    </div>
    <div class="sns-links">
        いいかんじのSNSリンク
    </div>
</body>