{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="block">
        <h2>新着記事</h2>
        <div class="listbox">
            <ul>
                {{ range first 5 (where .Site.RegularPages.ByDate.Reverse ".Parent.Section" "==" .Section )}}
                    <li>
                        <div class = "listitem">
                            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                            {{ .Summary }}
                        </div>

                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
    <div class="block">
        <h2>過去記事</h2>
        <div class="listbox">
            <ul>
                {{ range .Sections }}
                    <li>
                        <div class = "listitem">
                            <a href="{{ .RelPermalink }}">{{ .Name }} ({{ len .Pages }})</a>
                        </div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
{{ end }}