{{ define "main" }}
    <h1><a href="{{ .Parent.RelPermalink }}">{{ .Parent.Title }}</a>/{{ .Title }}</h1>
    <div class="block">
        <h2>記事一覧</h2>
        <div class="listbox">
            <ul>
                {{ range .Pages }}
                    <li>
                        <div class = "listitem">
                            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                        </div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
    <div class="block">
        <h2>過去記事</h2>
        <div class="listbox">
            <ul>
                {{ range .Parent.Sections }}
                    <li>
                        <div class = "listitem">
                            <a href="{{ .RelPermalink }}">{{ .Name }} ({{ len .Pages }})</a>
                        </div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>

{{ end }}