<footer>
    <div class="tabbar">
        <div class="row-container">
            <a href="#" class="button white">About</a>
            <a href="#" class="button white">Contact</a>
            <a href="https://github.com/kanade2001" target="_blank" class="button white"><i class="fab fa-github"> GitHub</i></a>
            <a href="https://twitter.com/kanade2001_cpp" target="_blank" class="button white"><i class="fab fa-twitter"> Twitter(X)</i></a>
        </div>
    </div>
    <div class="copyright">
        Copyright {{ now.Year }} Kanade2001 All rights reserved.
    </div>
</footer>


