<header>
    <div class="header-container">
        <div class="header-left">
            <div class="header-left icon">
                <img src="/images/icon.png" alt="Icon" class="rounded-image">
            </div>
            <div class="header-left title">
                <a href="../" class="button white"><h1>KanadeHP</h1></a>
            </div>
        </div>
        <div class="header-right">
            <button class="hamburger-menu" id="header-menubutton">
                <i class="fas fa-bars"></i>
            </button>
            <div class="menu" id="header-menu">
                <div class="column-container">
                    <a href="../" class="button black">TOP</a><br>
                    <a href="../programming" class ="button black">プログラミング</a><br>
                    <a href="../electronics" class="button black">電子工作</a><br>
                    <a href="../travel" class="button black">旅行</a><br>
                    <a href="../blog" class="button black">雑記</a><br>
                    <a href="../about" class="button black black">About</a><br>
                    <a href="../contact" class="button black">Contact</a><br>
                </div>
            </div>
            <script>
                document.getElementById('header-menubutton').addEventListener('click', function() {
                    document.getElementById('header-menu').classList.toggle('show-menu');
                });
            </script>
        </div>
    </div>
</header>
