<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href='{{ absURL "css/main.css"}}' >
    <link rel="stylesheet" href='{{ absURL "css/color.css"}}'>
    <link rel="stylesheet" href='{{ absURL "css/kanade.css"}}' >
    <link rel="stylesheet" href='{{ absURL "css/index.css" }}' >
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
    {{ partialCached "head/css.html" . }}
    {{ partialCached "head/js.html" . }}
</head>
