header {
    background-color: var(--darkColor);
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--lightColor);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--darkColor);
    color: var(--lightText);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Align*/
.column-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-container {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Button*/
.tabbar {
    padding: 10px 0px;
    background-color: var(--darkColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 0px 0px;
    flex: 1;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.button.black{
    color: black;
}
.button.white{
    color: white;
}

.hamburger-menu {
    width:48px;
    height:48px;
    background-color: white;
    color: black;
    font-size: 36px;
}

.menu {
    display: none;
    position: absolute;
    width:200px;
    top: 100%;
    right: 0;
    background-color: rgba(128, 128, 128, 0.5);
    border: 1px solid black;
    padding: 5px;
}


.show-menu {
    display: block;
}

/*Image*/

.rounded-image {
    border-radius: 50%;
}


.header-container {
    background-color: var(--darkColor);
    height: 50px;
    width: 100%;
    display: flex;

    position: relative;
}
.header-left {
    color: var(--lightText);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-left img {
    height: 80%;
    margin: 5px;
}

.header-left.icon {
    background-color: green;
    height: 100%;
}

.header-left.icon img {
    padding: 5%
}

.header-left.title{
    height: 100%;
    background-color: red;
}

.header-right {
    background-color: yellow;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    position: relative;
}

/*Copyright*/
.copyright {
    padding: 10px;
}